[Desktop Entry]
Type=Application
Exec=sh H0Me/.bin/startup_script.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Startup script
Comment=Startup script
